
<nav class="navbar navbar-expand-md navbar-light " role="navigation" >
  <div class="navbar-brand" >MFS</div>
  <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <i class="fa fa-bars" style="color: whitesmoke;"></i>
  </button>
  <div  class="collapse navbar-collapse" id="collapsibleNavbar">
    <div class="example-spacer"></div>
    <ul class="navbar-nav icon-nav">
        <!-- <li class="nav-item">
            <a class="nav-link" (click)="onFontClick()">
                  <mat-icon>font_download</mat-icon>
              </a>
          </li> -->
      <li class="nav-item">
      </li>
      <li class="nav-item">

      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" (click)="openChat()"><mat-icon>chat</mat-icon></a>
      </li> -->
      <li class="nav-item">
       <button  mat-raised-button
       class="mt-1 mr-1" (click)="callFun()">Synchronize</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/contactus">Home</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/home/profile"><mat-icon>person</mat-icon></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link">Logout</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link"><mat-icon (click)="logout()">login</mat-icon></a>
      </li> -->
      <li style = "display : flex" class="nav-item">
        <a class="nav-link" routerLink="/home/contactus">Prefrences</a>
        </li>
        <li style = "display : flex" class="nav-item">
          <a class="nav-link" routerLink="/home/contactus">Help</a>
          </li>
    </ul>
  </div>
</nav>


