
  <div class="row">
    <mat-toolbar class="app-toolbar">
      <mat-toolbar-row >
          <span >Update Task</span>
          <span class="example-spacer"></span>

          <span>
            <button
              mat-raised-button
              class="Search"
            >
              Apply
            </button>
            <button
            mat-raised-button
            class="Search ml-2"
            (click)="onClose()"
          >
            Cancel
          </button>
        </span>

      </mat-toolbar-row>
  </mat-toolbar>

  </div>
  <br/>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <mat-icon>keyboard_arrow_right </mat-icon>Show Servive Request
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <div class="row">
  <div class="col-md-12 header"><span class="field">Service Request Attachment</span></div>
</div>
      </div>
      <br/>
  <div class="row">
    <button
    mat-raised-button
    class="Search"
    (click)="AddAttachment()"
  >
    Add Attachment
  </button>
  <button
  mat-raised-button
  class="Search"
>
  Download
</button>
  </div>
  <br/>
      <div class="row">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> File Name </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Last Updated By </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>
      </div>
    </mat-expansion-panel>
    <br/>
   <app-owner-assignee></app-owner-assignee>
   <br/>
  <app-notes></app-notes>

